{% if form is not defined %}
    {% set form = hookable_metadata.context.form %}
{% endif %}

{% if resource is not defined %}
    {% set resource = hookable_metadata.context.resource %}
{% endif %}

{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

{% set translationForm = form.translations %}
{{ form.offsetUnset('translations') }}

<h3 class="h3 text-center">
    {{ 'monsieurbiz_cms_page.ui.form.page_info' | trans }}
    <hr class="hr" />
</h3>
<div class="row">
    {{ form_errors(form) }}
    {% for item in form.children %}
        {% if item.vars.name != '_token' %}
            {{ form_row(item) }}
        {% endif %}
    {% endfor %}
</div>
<h3 class="h3 text-center">
    {{ 'monsieurbiz_cms_page.ui.form.page_content' | trans }}
    <hr class="hr" />
</h3>

<div class="row">
    <div class="tab-pane" id="banner-translations" role="tabpanel" tabindex="0">
        <div class="card mb-3">
            <div class="card-header">
                <h2 class="card-title">
                    {{ 'monsieurbiz_cms_page.ui.translation'|trans }}
                </h2>
            </div>
            <div>
                {{ translations.default(translationForm, null, {accordion_id: 'page-translations', accordion_flush: true}) }}
            </div>
        </div>
    </div>
</div>
