{% if resource is not defined %}
    {% set resource = hookable_metadata.context.resource %}
{% endif %}

{% set enabledChannels = resource.channels|filter(channel => channel.enabled == true) %}

{% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
    {% if not resource.enabled or enabledChannels|length < 1 %}
        <a class="btn btn-secondary disabled" href="#">

            {{ 'monsieurbiz_cms_page.ui.show_page_in_shop_page'|trans }}
        </a>
    {% elseif enabledChannels|length > 1 %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="goToShop" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'monsieurbiz_cms_page.ui.show_page_in_shop_page'|trans }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="goToShop">
                {% for channel in enabledChannels %}
                    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('monsieurbiz_cms_page_show', {'slug': resource.slug, '_locale': channel.defaultLocale.code}) : url('monsieurbiz_cms_page_show', {'slug': resource.slug, '_locale': channel.defaultLocale.code}) %}
                        <li>
                            <a href="{{ url|raw }}" class="dropdown-item" target="_blank">
                                {{ 'monsieurbiz_cms_page.ui.show_in'|trans }}
                                {{ channel.name }} ({{ channel.code }}) ({{ localeCode }})
                            </a>
                        </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="goToShop" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'monsieurbiz_cms_page.ui.show_page_in_shop_page'|trans }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="goToShop">
                {% for channel in enabledChannels %}
                    {% for locale in channel.locales %}
                        {% set localeCode = locale.code %}
                        {% set translationResource = resource.getTranslation(localeCode)|default(resource) %}
                        {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('monsieurbiz_cms_page_show', {'slug': translationResource.slug, '_locale': localeCode}) : url('monsieurbiz_cms_page_show', {'slug': translationResource.slug, '_locale': localeCode}) %}
                        <li>
                           <a href="{{ url|raw }}" class="dropdown-item" target="_blank">
                               {{ 'monsieurbiz_cms_page.ui.show_in'|trans }}
                               {{ channel.name }} ({{ channel.code }}) ({{ localeCode }})
                           </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}
